# path:       /home/klassiker/.local/share/repos/polkit-rules/.gitignore
# author:     klassiker [mrdotx]
# github:     https://github.com/mrdotx/polkit-rules
# date:       2020-08-31T17:33:01+0200


