/* path:       /home/klassiker/.local/share/repos/polkit-rules/99-nopasswd.rules
 * author:     klassiker [mrdotx]
 * github:     https://github.com/mrdotx/polkit-rules
 * date:       2020-06-26T20:32:24+0200
 */

/* allow members of the wheel group to execute the defined actions
 * without password authentication
 */

polkit.addRule(function(action, subject) {
    if ((action.id == "org.gnome.gparted" ||
        action.id == "com.ubuntu.pkexec.gufw" ||
        action.id == "org.manjaro.pamac.commit" ||
        action.id == "org.manjaro.msm.kernel.install" ||
        action.id == "org.manjaro.msm.kernel.remove") &&
        subject.isInGroup("wheel"))
    {
        return polkit.Result.YES;
    }
});
